extends layout

block content
  .container
    .row
      .col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title John Crane QA Dashboard
          .account-wall
            br
            img(class='profile-img', src='http://i.imgur.com/OzuRChy.png')
            br
            br
            form(class='form-signin', action='/login', method='POST')
              input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
              input(type='password', name='password' class='form-control', placeholder='Password', required)
              button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
              span.clearfix
          br
          a(href='/signup', class='text-center new-account') Create an account
          #message
          if message
            h1.text-center.error-message #{message}